{% extends 'base.html' %}


{% block head %}
  <title>EspaceExotique</title>

{% endblock %}


{% block body %}
  

  <!-- nav section -->

  <section class="nav_section">
    <div class="container">
      <div class="custom_nav2">
        <nav class="navbar navbar-expand custom_nav-container ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">A propos de nous </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nos produits </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="testimonial.html">Testimonial</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacts</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Login</a>
                </li> -->
              </ul>
              <!-- <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form> -->
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>

  <!-- end nav section -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="detail-box">
          <h2>
            Fruits, legumes
          </h2>
          <p>
            et d'autres produits éxotiques
          </p>
        </div>
        <div class="img-box">
          <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
        </div>
        <div class="btn-box">
          <a href="#">
            Contactez nous
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section">
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="{{url_for('static', filename='images/about-img.jpg')}}" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box" id="aproposdenous_box">
            <div class="heading_container">
              <hr>
              <h2>
                A propos de nous
              </h2>
            </div>
            <p>
              Espace Exotique est un service de Résilience Santé, basé à Clermont-Ferrand, spécialisé dans la distribution de produits pharmaceutiques, parapharmaceutiques, et nutritionnels en gros, demi-gros et détail. Forts de notre expérience et de notre passion pour les produits exotiques, nous nous engageons à fournir des fruits de première qualité, sélectionnés avec soin pour satisfaire les attentes de nos clients les plus exigeants.
              <br/>
                Notre entreprise s'appuie sur des partenariats solides avec des producteurs locaux, garantissant une qualité exceptionnelle et une fraîcheur optimale de nos produits. Nous veillons à ce que chaque étape, de la récolte à la livraison, soit réalisée selon des normes strictes pour assurer une qualité irréprochable.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- fruit section -->

  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          Produits
        </h2>
      </div>
    </div>
    <div class="container-fluid">

      <div class="fruit_container">
       
        <div class="box">
          <img  src="{{url_for('static', filename='images/riz/1KG-BROWN.png')}}" alt="">
          <div class="link_box">
            <h5>
              Bananes
            </h5>
            <a href="">
              Commander
            </a>
          </div>
        </div>
        <div class="box">
          <img  src="{{url_for('static', filename='images/mangue-img.jpeg')}}" alt="">
          <div class="link_box">
            <h5>
              Mangues
            </h5>
            <a href="">
              Commander
            </a>
          </div>
        </div>
        <div class="box">
          <img  src="{{url_for('static', filename='images/riz/1KG-GREEN.png')}}" alt="">
          <div class="link_box">
            <h5>
              Bananes
            </h5>
            <a href="">
              Commander
            </a>
          </div>
        </div>
        

        <div class="btn-box autreprodbtn">
          <a href="#">
            Autres produits
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end fruit section -->


  <!-- client section -->
<!-- 
 
  <!-- end client section -->


  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h2>
              Demander un rappel
            </h2>
          </div>
        </div>
      </div>

      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
            <form action="">
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="text" placeholder="Nom et Prenom" />
                  </div>
                  <div>
                    <input type="email" placeholder="Email" />
                  </div>
                  <div>
                    <input type="text" placeholder="Numéro de téléphone" />
                  </div>
                  <div>
                    <input type="text" class="message_input" placeholder="Message" />
                  </div>
                  <div>
                    <button type="submit">
                      Envoyer
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 px-0">
            <div class="map_container">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Clermont-Ferrand+dellile" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->




{% endblock %}
